body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.r_Container{
    max-width: 100%;
    widows: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh;
    margin: 0 auto;
}

.r_Row{
    display: flex;
    margin: 75px;
    
}

.r_col_4{
    width: 25%; 
    height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }
